*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0 1em;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.box {
    margin: 1em;
}

img{
    width: 50vw;
}

#search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input{
    margin: 1em;
    &[type="text"]{
        height: 3em;
        padding: 1em;
        font-size: 0.8em;
        border: {
            style: solid;
            width: 1px;
            radius: 2em;
            color: rgb(199, 199, 199);
        }
        &:hover{
            box-shadow: 0 0.3em 0.5em 0 #d1d1d185;
        }
    }
    &[type="submit"]{
        width: 30%;
        padding: 0.7em;
        background: #e0e0e0;
        align-self: center;
        color: rgb(100, 100, 100);
        border: {
            radius:2px;
            width: 0;
        }
        &:hover{
            background: #2d99f7;
            color: white;
        }
    }
}

@media(min-width:1630px){
    img{
        width: 30vw;
    }
    
    #search{
        height: 60vh;
    }
    
    form{
        width: 30%;
    }
    
    input{
        &[type="submit"]{
            width: 25%;
        }
    }
    
}

@media(max-width:1629px){
    @media(min-width:1268px){
        img{
            width: 35vw;
        }

        #search{
            height: 70vh;
        }

        form{
            width: 35%;
        }

        input{
            &[type="submit"]{
                width: 25%;
            }
        }
    }
}


@media(max-width:1267px){
    @media(min-width:867px){
        img{
            width: 50vw;
        }
        
        #search{
            height: 70vh;
        }
        
        form{
            width: 50%;
        }
    }
}
