*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0 1em;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.box {
    margin: 1em;
}

#logo{
    width: calc(100% - 150px);
}

img{
    padding: 1% 0;
    width: 70px;
}

h1{
    color: rgb(255 56 49);
    padding: 2.5% 2.5% 1.5% 2.5%;
    font-weight: normal;
    font-size: 140%;
}

#line{
    border-bottom:1px solid #ebebeb
}